This notebook will be updated regularly at
https://github.com/rachelss/BigDataAnalysis/blob/gh-pages/Class_April4.ipynb

In [1]:
a = 'a'
a = 'b'  #this is a string
b = 1  #this is an int
c = [1,2,3] #this is a list
d = {'a':1,'b':1}

In [2]:
a = [1,3,5,9,10,2,4]
print(a)

[1, 3, 5, 9, 10, 2, 4]

In [4]:
b = sorted(a) #assigning output of function to new object
print(b)

[1, 2, 3, 4, 5, 9, 10]

In [6]:
a = [1,3,5,9,10,2,4]
a = sorted(a)  #reassign sorted to a
print(a)

[1, 2, 3, 4, 5, 9, 10]

In [7]:
a = [1,3,5,9,10,2,4]
a.sort()
print(a)

[1, 2, 3, 4, 5, 9, 10]

In [8]:
a = [1,3,5,9,10,2,4]
a.append(6)
print(a)

[1, 3, 5, 9, 10, 2, 4, 6]

In [9]:
a = [1,3,5,9,10,2,4]
b = a
a.sort()
print(a)

[1, 2, 3, 4, 5, 9, 10]

In [10]:
print(b)

[1, 2, 3, 4, 5, 9, 10]

In [11]:
a = [1,3,5,9,10,2,4]
b = list(a)
b = a[:]
a.sort()
print(a)
print(b)

[1, 2, 3, 4, 5, 9, 10]
[1, 3, 5, 9, 10, 2, 4]

In [13]:
a.append(15)
print(a)

[1, 2, 3, 4, 5, 9, 10, 15, 15]

In [14]:
a.pop()
print(a)

[1, 2, 3, 4, 5, 9, 10, 15]

In [15]:
a.pop(0)
print(a)

[2, 3, 4, 5, 9, 10, 15]

In [16]:
a.reverse()
print(a)

[15, 10, 9, 5, 4, 3, 2]

In [17]:
type(a)

list

In [18]:
b = 'hello'
list(b)

['h', 'e', 'l', 'l', 'o']

In [20]:
c = 15
c = str(c)
print(c)

15

In [21]:
type(c)

str

In [22]:
int(c)

15

In [23]:
type(c)

str

In [24]:
c = int(c)
type(c)

int

In [27]:
#list to string
print(b)
','.join(b)

hello

'h,e,l,l,o'

In [28]:
import pandas as pd
#might need to install
#conda install pandas

download data using command line curl

!curl -O https://raw.githubusercontent.com/mperignon/python-lessons/gh-pages/data/surveys.csv

In [29]:
survey = pd.read_csv('surveys.csv')

In [30]:
survey

       record_id  month  day  year  plot species  sex   wgt
0              1      7   16  1977     2     NaN    M   NaN
1              2      7   16  1977     3     NaN    M   NaN
2              3      7   16  1977     2      DM    F   NaN
3              4      7   16  1977     7      DM    M   NaN
4              5      7   16  1977     3      DM    M   NaN
5              6      7   16  1977     1      PF    M   NaN
6              7      7   16  1977     2      PE    F   NaN
7              8      7   16  1977     1      DM    M   NaN
8              9      7   16  1977     1      DM    F   NaN
9             10      7   16  1977     6      PF    F   NaN
10            11      7   16  1977     5      DS    F   NaN
11            12      7   16  1977     7      DM    M   NaN
12            13      7   16  1977     3      DM    M   NaN
13            14      7   16  1977     8      DM  NaN   NaN
14            15      7   16  1977     6      DM    F   NaN
15            16      7   16  1977     4      DM    F   NaN
16            17      7   16  1977     3      DS    F   NaN
17            18      7   16  1977     2      PP    M   NaN
18            19      7   16  1977     4      PF  NaN   NaN
19            20      7   17  1977    11      DS    F   NaN
20            21      7   17  1977    14      DM    F   NaN
21            22      7   17  1977    15     NaN    F   NaN
22            23      7   17  1977    13      DM    M   NaN
23            24      7   17  1977    13      SH    M   NaN
24            25      7   17  1977     9      DM    M   NaN
25            26      7   17  1977    15      DM    M   NaN
26            27      7   17  1977    15      DM    M   NaN
27            28      7   17  1977    11      DM    M   NaN
28            29      7   17  1977    11      PP    M   NaN
29            30      7   17  1977    10      DS    F   NaN
...          ...    ...  ...   ...   ...     ...  ...   ...
35519      35520     12   31  2002     9      SF  NaN  36.0
35520      35521     12   31  2002     9      DM    M  48.0
35521      35522     12   31  2002     9      DM    F  45.0
35522      35523     12   31  2002     9      DM    F  44.0
35523      35524     12   31  2002     9      PB    F  27.0
35524      35525     12   31  2002     9      OL    M  26.0
35525      35526     12   31  2002     8      OT    F  24.0
35526      35527     12   31  2002    13      DO    F  43.0
35527      35528     12   31  2002    13      US  NaN   NaN
35528      35529     12   31  2002    13      PB    F  25.0
35529      35530     12   31  2002    13      OT    F   NaN
35530      35531     12   31  2002    13      PB    F   NaN
35531      35532     12   31  2002    14      DM    F  43.0
35532      35533     12   31  2002    14      DM    F  48.0
35533      35534     12   31  2002    14      DM    M  56.0
35534      35535     12   31  2002    14      DM    M  53.0
35535      35536     12   31  2002    14      DM    F  42.0
35536      35537     12   31  2002    14      DM    F  46.0
35537      35538     12   31  2002    15      PB    F  31.0
35538      35539     12   31  2002    15      SF    M  68.0
35539      35540     12   31  2002    15      PB    F  23.0
35540      35541     12   31  2002    15      PB    F  31.0
35541      35542     12   31  2002    15      PB    F  29.0
35542      35543     12   31  2002    15      PB    F  34.0
35543      35544     12   31  2002    15      US  NaN   NaN
35544      35545     12   31  2002    15      AH  NaN   NaN
35545      35546     12   31  2002    15      AH  NaN   NaN
35546      35547     12   31  2002    10      RM    F  14.0
35547      35548     12   31  2002     7      DO    M  51.0
35548      35549     12   31  2002     5     NaN  NaN   NaN

[35549 rows x 8 columns]

In [32]:
print(type(survey))
print(survey.dtypes)

<class 'pandas.core.frame.DataFrame'>
record_id      int64
month          int64
day            int64
year           int64
plot           int64
species       object
sex           object
wgt          float64
dtype: object

### Challenge

In [ ]:
survey.columns # prints col names w type
survey.head()  # print first 5 rows
survey.head(15) # print first rows specified
survey.tail() # print last 5 rows
survey.shape # dimensions of data

What do the above do and why do some have () and others don't?
() indicate functions
no () indicate attributes

In [33]:
survey.columns

Index(['record_id', 'month', 'day', 'year', 'plot', 'species', 'sex', 'wgt'], dtype='object')