In [1]:
import pandas as pd

In [2]:
import sqlite3

In [ ]:
#do this on the command line
retriever install sqlite mapped-plant-quads-co

In [3]:
connection = sqlite3.connect("sqlite.db")

In [6]:
table_names = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table'",
                               connection)
table_names

                                         name
0      mapped_plant_quads_co_allrecords_cover
1         mapped_plant_quads_co_daily_climate
2    mapped_plant_quads_co_quad_stocking_rate
3             mapped_plant_quads_co_quad_info
4    mapped_plant_quads_co_allrecords_density
5        mapped_plant_quads_co_quad_inventory
6  mapped_plant_quads_co_species_name_changes
7          mapped_plant_quads_co_species_list

In [12]:
cover = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_allrecords_cover",
                           connection)
cover.head()

      quad  year             species      area         x         y
0  gzgz_11  1997        Corner plate  0.001863  0.021345  0.977800
1  gzgz_11  1997         Bare ground  0.013359  0.086730  0.946482
2  gzgz_11  1997  Bouteloua gracilis  0.000169  0.167067  0.996623
3  gzgz_11  1997  Bouteloua gracilis  0.014171  0.343203  0.963770
4  gzgz_11  1997         Bare ground  0.001982  0.377101  0.987494

In [9]:
spp = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_species_list",
                           connection)
spp.head()

                 species  density  cover growthform longevity
0   Achillea millefolium      2.0    NaN       forb         P
1      Agropyron smithii   4649.0    NaN      grass         P
2            Allium spp.     18.0    NaN       forb         P
3         Allium textile     73.0    NaN       forb         P
4  Ambrosia psilostachya      2.0    NaN       forb         P

In [10]:
density = pd.read_sql_query("SELECT * FROM mapped_plant_quads_co_allrecords_density",
                           connection)
density.head()

      quad  year              species         x         y
0  gzgz_11  1997    Agropyron smithii  0.335793  0.041727
1  gzgz_11  1997    Agropyron smithii  0.707497  0.064662
2  gzgz_11  1997    Artemisia frigida  0.664633  0.295848
3  gzgz_11  1997              Unknown  0.909360  0.309185
4  gzgz_11  1997  Plantago patagonica  0.829952  0.320852

In [14]:
merged = pd.merge(left = cover, right = spp, how = 'left',
        left_on = 'species', right_on = 'species')
merged.head()

,quad,year,species,area,x,y,density,cover,growthform,longevity
0,gzgz_11,1997,Corner plate,0.001863,0.021345,0.977800,NaN,1299.0,Not plant,Not plant
1,gzgz_11,1997,Bare ground,0.013359,0.086730,0.946482,10.0,1988.0,Not plant,Not plant
2,gzgz_11,1997,Bouteloua gracilis,0.000169,0.167067,0.996623,NaN,47497.0,grass,P
3,gzgz_11,1997,Bouteloua gracilis,0.014171,0.343203,0.963770,NaN,47497.0,grass,P
4,gzgz_11,1997,Bare ground,0.001982,0.377101,0.987494,10.0,1988.0,Not plant,Not plant

In [ ]:
merged2 = pd.read_sql_query("""
SELECT *
FROM mapped_plant_quads_co_allrecords_cover
LEFT
""")